{% extends 'pages/doctorhome.html' %}
{% load static %}
{% block content %}
<div class="col-9 mt-5">
<div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Your patients</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Patient Name</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Appointment Date</th>
            <th>Symptoms</th>
            <th>presription</th>
          </tr>
        </thead>
        {% for app in patients %}
        <tr>
          <td>{{app.patient.pat_name}}</td>
          <td>{{app.patient.pat_phone}}</td>
          <td>{{app.patient.pat_address}}</td>
          <td>{{app.discription_date}}</td>
          <td>{{app.Booking.symptoms}}</td>
          <td>{{app.description}}</td>
        </tr>
        {% endfor %}
      </table>
  
    </div>
  </div>
</div>

{% endblock %}