{% extends 'pages/patienthome.html' %}
{% load static %}
{%block content%}

<div class="col-10 col-sm-8 col-md-6 m-auto ">
    <div class="card-light shadow border mt-5 mb-5">
        <div class="card-body w-100 p-3">
            <h5 class="card-title" style="margin-left:200px;">CHANGE PASSWORD</h5><br>
            <form method='POST'>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Current Password</label>
                    <input type="name" name='current_pass' class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">New Password</label>
                    <input type="name" name='new_pass' class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
                    <input type="name" name='confirm_pass' class="form-control" id="exampleFormControlInput1">
                </div>
                {{ msg }}
                <button type="submit" class="btn btn-success" style="margin-left:210px;">Change Password</button>

            </form>
        </div>
    </div>
</div>
{% endblock%}